:root {
    --main-bg-color: rgb(255, 255, 255);
    --main-txt-color: rgb(27, 27, 27);
    --theme-txt-color: #F7A28D;
 
  }

body {
    background: var(--main-bg-color);
    font-family: 'Lato', 'Arial', sans-serif;
    /* font-weight: 700; */
    /* font-size: 1em; */
    line-height: 1.4;
    /* letter-spacing: 2px; */
    color: var(--main-txt-color);
  }
  @font-face {
    font-family: Futura;
    src: url(Futura\ Medium.otf);
  }
  
  div {
    
  }
  .banner {
    position: relative;
    width: 100%;
    min-height: 450px;
    background-color: #FCFCFC;
  }
.top-bar {
    background-color: #F7A28D;
}
.banner-text h5{
    font-size: 33px;
}
.banner-bar {
    background-color: rgb(0, 0, 0);
}
nav {
    background-color: #000000;
}
.nav-link {
    color: whitesmoke !important;
}
.top-text {
    color: var(--theme-txt-color);
    font-size: 19px;
}
.middle-text {
    color: rgb(0, 0, 0);
    font-family: Futura;
    font-size: 14px;
}
.last-text {
    color: rgb(104, 103, 103);
}
.card-img-top {
    
     height: 333px;
  
}
.card-title {
    color: var(--theme-txt-color);
}
.card-bottom-text {
    color: rgb(131, 129, 129); 
}
.product-des {
    color: rgb(131, 129, 129); 
}
.product-price {
    color: rgb(131, 129, 129); 
}
.btn-bg-color {
    background-color: black;
}
.pink-section {
    background-color: #F7A28D;
    padding: 52px;
}
.card-middle-text  {
    font-family: Futura;
    /* color: red; */
}
.card-text p {
    color: #9F5846;
    font-size: small;
}