:root {
    --main-bg-color: rgb(255, 255, 255);
    --main-txt-color: rgb(27, 27, 27);
    --theme-txt-color: #F7A28D;
 
  }

body {
    background: var(--main-bg-color);
    font-family: 'Lato', 'Arial', sans-serif;
    /* font-weight: 700; */
    /* font-size: 1em; */
    line-height: 1.4;
    /* letter-spacing: 2px; */
    color: var(--main-txt-color);
  }
  @font-face {
    font-family: Futura;
    src: url(com_FuturaMedium.ttf);
  }
  @font-face {
    font-family: BrandonText-Medium;
    src: url(/fonts/HVD\ Fonts\ -\ BrandonText-Medium.otf);
  }
  /* header-style */

  /* header-style */
  div {
    
  }
  .banner {
    position: relative;
    width: 100%;
    min-height: 450px;
    background-color: #FCFCFC;
  }
.top-bar {
    background-color: #F7A28D;
}
.banner-text h5{
    font-size: 55px;
    line-height: 0.9;
}
.banner-bar {
    background-color: rgb(0, 0, 0);
}
nav {
    background-color: #000000;
}
.nav-link {
    color: whitesmoke !important;
}
.top-text {
    color: var(--theme-txt-color);
    font-size: 19px;
}
.middle-text {
    color: rgb(0, 0, 0);
    font-family: Futura;
    font-size: 14px;
}
.last-text {
    color: rgb(104, 103, 103);
}
.card-img-top {
    
     height: 333px;
  
}
.card-title {
    color: var(--theme-txt-color);
}
.card-bottom-text {
    color: rgb(131, 129, 129); 
}
.product-des {
    color: rgb(131, 129, 129); 
}
.product-title {
    font-family: BrandonText-Medium;
    font-size: 14px;
    color: rgb(48, 46, 46);
}
.product-price {
    color: rgb(131, 129, 129); 
}
.btn-bg-color {
    background-color: black;
}
.pink-section {
    background-color: #F7A28D;
    padding: 52px;
}
.card-middle-text  {
    font-family: Futura;
    /* color: red; */
    font-size: 24px;
}
.card-text p {
    color: #9F5846;
    font-size: small;
}
.input-area {
    border: 2px solid #EAEAEA;
    border-radius: 5px;
}
.icons .fa {
    font-size: 38px;
    margin: 7px;
} 
.mine-card-text p {
font-size: 15px;
color: rgb(77, 75, 75);
}
.mine-card-text {
    margin-top: -13px;
    font-size: 19px;
}
.mine-bottom-text {
    margin-top: -13px;
    font-size: 10px;
    color:gray;
} 
.mine-card-title {
    color:#F7A28D;
    margin-top: -2px;
    font-size: 12px;
}
.home-color {
    color:#F7A28D;
    font-weight: bold;
}

/* -------------------article-page--------------------------------- */
.article-title {
    color:#F7A28D;
}
.article-middle-text {
    font-size: 24px;
}
.twitter-icon .fa {
color: #05D0FB;
margin-right: 2px;
font-size: 32px;
}
.facebook-icon .fa {
color: #0076B6;
margin-right: 2px;
font-size: 32px;
}
.icon-bar span {
    font-size: 18px;
}
.mine-card-text input[type=text] {
    width: 300px;
}
#prev :hover {
    text-decoration-line: underline;
}
#next :hover {
    text-decoration-line: underline;
}
#prev {
 color: #F7A28D;
 /* font-size: 20px; */
 

}
#prev i{
 color: #F7A28D;
 font-size: 20px;
 margin-right: 18px;
}
#next {
 color: #F7A28D;
 /* font-size: 20px; */
}
#next i{
 color: #F7A28D;
 font-size: 20px;
 margin-left: 18px;
}
.article-card-title {
    color: #F7A28D;
    font-size: 14px;   
    padding: 1px;
}
.article-card-content {
    
}

textarea::placeholder {
    padding:3px;
}
.login-icons {
    background-color: #F9F9F9;
    
}
.login-icons .facebook {
    color: #2361A8;
    margin-left: 32px;
    margin-right: 32px;
    font-weight: bolder;
}
.login-icons .twitter {
    color: #00acee;
    margin-left: 32px;
    margin-right: 32px;
    font-weight: bolder;
}
.login-icons .google {
    color: #f8324c;
    margin-left: 32px;
    margin-right: 32px;
    font-weight: bolder;
}
.user-comment-img {
    width: 60px;
    
    float: right;
}
/* -------------------article-page-end--------------------------------- */